<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center ion-align-items-center wallpaper">
    <ion-col size="12" sizeMd="6">
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-row>
            <ion-text class="text">
              Descubra o poder da geometria em movimento com o Geolab: onde a realidade aumentada transforma o aprendizado em uma jornada interativa e envolvente. Explore, aprenda e mergulhe na magia dos conceitos geométricos como nunca antes!
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-button size="large" [routerLink]="['../listagem']" routerDirection="back"
              color="tertiary">Explorar</ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" sizeMd="4">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-img src="../../../assets/img/logos/logo-preto.png" alt="geolab"></ion-img>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="container__sobre ion-padding-vertical">
    <ion-col>
      <ion-row class="ion-padding ion-justify-content-center ">
        <ion-label id="titulo__container__cards">SOBRE</ion-label>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-padding container__sobre">
        <ion-col size="12" sizeMd="3">
          <ion-card>
            <ion-img alt="Imagem padrão" src="https://ionicframework.com/docs/img/demos/card-media.png" ></ion-img>
            <ion-card-header>
              <ion-row class="ion-justify-content-center">
                <ion-card-title>Explorando figuras tridimensionais</ion-card-title>
              </ion-row>
            </ion-card-header>

            <ion-card-content>
              <ion-row>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus doloremque, omnis, architecto sapiente
                debitis animi
                repellendus sed ullam aliquid iusto, eveniet esse amet quasi in. Pariatur soluta nulla magnam repellat!
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-button size="large" expand="block" fill="outline" color="dark">Acessar</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" sizeMd="3">
          <ion-card>
            <ion-img alt="Imagem padrão" src="https://ionicframework.com/docs/img/demos/card-media.png" ></ion-img>
            <ion-card-header>
              <ion-row class="ion-justify-content-center">
                <ion-card-title>Interatividade</ion-card-title>
              </ion-row>
            </ion-card-header>

            <ion-card-content>
              <ion-row>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus doloremque, omnis, architecto sapiente
                debitis animi
                repellendus sed ullam aliquid iusto, eveniet esse amet quasi in. Pariatur soluta nulla magnam repellat!
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-button size="large" expand="block" fill="outline" color="dark">Acessar</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" sizeMd="3">
          <ion-card>
            <ion-img alt="Imagem padrão" src="https://ionicframework.com/docs/img/demos/card-media.png" ></ion-img>
            <ion-card-header>
              <ion-row class="ion-justify-content-center">
                <ion-card-title>Experiência do Usuário</ion-card-title>
              </ion-row>
            </ion-card-header>

            <ion-card-content>
              <ion-row>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus doloremque, omnis, architecto sapiente
                debitis animi
                repellendus sed ullam aliquid iusto, eveniet esse amet quasi in. Pariatur soluta nulla magnam repellat!
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button size="large" expand="block" fill="outline" color="dark">Acessar</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>


    </ion-col>
  </ion-row>

  <app-footer></app-footer>
</ion-content>