<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center ion-align-items-center wallpaper">
    <ion-col size="12" sizeMd="6">
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-row>
            <ion-text class="text">
              Descubra o poder da geometria em movimento com o Geolab: onde a realidade aumentada transforma o aprendizado em uma jornada interativa e envolvente. Explore, aprenda e mergulhe na magia dos conceitos geométricos como nunca antes!
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-button size="large" [routerLink]="['../listagem']" routerDirection="back"
              color="tertiary">Explorar</ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" sizeMd="4">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-img src="./assets/img/logos/logo-preto.png" class="imagem__geolab" alt="geolab"></ion-img>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>