.wallpaper{    
    // background-image: url('../../../assets/img/background.jpg');
    // background-image: url('https://mcdn.wallpapersafari.com/medium/76/77/rN3Jcj.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh !important;
    ion-text{
        font-size: 2rem;
        margin-bottom: 20px;
    }
}

#titulo__container__cards{
    font-size: 3rem;
    font-weight: 700;
}

.container__sobre{
    background-color: var(--ion-color-primary);

}


@media (max-width: 600px) {
    .wallpaper{    
 
        ion-text{
            text-align: justify;
            font-size: 1.7rem;
        }
    }
}