<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center ion-margin-vertical ">
    <ion-col size="11" sizeMd="8">
      <ion-row class="container__pesquisa ion-padding">
        <ion-col size="12">

          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-label>EXPLORAR</ion-label>
          </ion-row>
          <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ng-container *ngFor="let forma of results">
      <ion-col size="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <ion-card>
          <ion-img alt="Silhouette of mountains" src="./assets/img/formas/demo/{{this.forma[2]}}" ></ion-img>
          <ion-card-header>
            <ion-card-title>{{this.forma[0]}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button routerDirection="back" routerLink="/realidade-aumentada/{{this.forma[1]}}" size="large" expand="block" fill="outline" color="tertiary">
              Acessar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-content>