.container__pesquisa{
    background-color: var(--ion-color-secondary);
    color: #fff;
    font-size: 2rem;
    border-radius: 10px;
    
    ion-label{
        margin: 10px;
    font-family: 'mrDafoe';
    font-weight: 700;
    letter-spacing: 5px;
    }
}