<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row class="ion-align-items-center ion-justify-content-center ion-padding-vertical ion-margin-vertical titulo__row">
    <ion-col size="11" sizeMd="10">
      <ion-label>Ranking de pontuação</ion-label>
    </ion-col>
  </ion-row>
  <app-loading [loading]="this.loading"></app-loading>
  <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical ranking">
    <ion-col size="11" sizeMd="10" class="lista">
      <ion-list>

        <ng-container *ngFor="let usuario of ranking">
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="{{usuario.imagem}}"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{usuario.nome}}</h2>
              <p>{{usuario.pontos}} pontos</p>
            </ion-label>
          </ion-item>
        </ng-container>

      </ion-list>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>